*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Orbitron';
}

:root {
  --display-bg-color:#b2c2b3;
  --calculator-bg-color:#4b5568;
  --upper-key-color:#888fa1;
  --lower-key-color:#202742;
  --orange-key-color:#ff9204;
}

.calculator {
  width:500px;
  margin:auto;
  padding:10px;
  padding-bottom: 40px;
  margin-top:100px;
  border-radius:40px 40px 90px 90px;
  background:var(--calculator-bg-color);
}

.display {
  text-align:right;
  padding:10px;
  margin:5px 8px 10px 8px;
  font-size:45px;
  border-radius: 10px;
  background-color:var(--display-bg-color)
}

.log {
  background-color:var(--display-bg-color);
  height:44px;
  text-align:left;
  outline:none;
  width:100%;
  border:none;
  font-size:1em;
}

.upper-keyboard,.lower-keyboard {
  width:100%;
  display:flex;
  justify-content: center;
  text-align: center;
  flex-wrap:wrap;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background:var(--lower-key-color);
  color:#fff;
  width:17.3%;
  height:50px;
  margin:6px auto;
  font-size:2.2em;
  border:none;
  cursor:pointer;
  border-radius:10px 10px 25px 25px;
  outline:none;
  transition: all 0.1s;
}

.upper-keyboard button{
  background-color: var(--upper-key-color);
  width:12.9%;
  margin:9px;
  border-radius:11px;
  font-size:1.3em;
  height:41px;
}

.orange-btn {
  background-color: var(--orange-key-color);
  color:black;
}

button:hover {
  transform:scale(1.02)
}

button:active{
  transform:scale(0.98);
  filter:opacity(50%)
}

.logo {
  font-size:1.5em;
  margin:8px;
  margin-bottom:12px;
  color:#fff;
}

.description {
  font-size:1em;
  color:rgb(227, 57, 85);
  margin:auto;
  text-align: center;
}
